header {
    background-color: #FFB000;
}
header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img {
    width: 120px;
    height: 60px;
}

nav ul a{
    margin: 0 10px;
    text-transform: uppercase;
    color: #1B2435;
    font-size: 14px;
}