.mapa {
    display: flex;
    align-items: center;
    border-top: 2px solid #FFB000;
    padding: 20px 0;
}

.mapa div {
    width: 50%;
    text-align: center;
    margin: 0 20px;
}

.mapa input {
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
}

.mapa button {
    border-radius: 2px;
    border: none;
    padding: 10px;
    margin-top: 20px;
    width: 200px;
    background-color: #1B2435;
    color: white;
}

.mapa h3 {
    font-size: 16px;
    color: #5c5c5c;
}